{#- -*- coding: utf-8 -*- #}
{#- vim: ft=jinja #}

{#-
    Convenience: Make relative paths absolute.
-#}

{%- set base_path = mapdata.lookup.paths.base %}
{%- for path, val in mapdata.lookup.paths.items() %}
  {%- if val is string and not val.startswith("/") %}
    {%- do mapdata.lookup.paths.update({path: base_path | path_join(val)}) %}
  {%- endif %}
{%- endfor %}

{%- if not mapdata.lookup.user.home %}
  {%- do mapdata.lookup.user.update({"home": base_path}) %}
{%- endif %}


{#-
    Convenience: Make sure container pgid is the same as gid when
    dedicated media group is in use.
-#}

{%- if mapdata.container.pgid is none and mapdata.lookup.media_group.gid is not none %}
  {%- do mapdata.container.update({"pgid": mapdata.lookup.media_group.gid}) %}
{%- endif %}


{#-
    If userns_keep_id is in use, pods cannot be used.
-#}

{%- if mapdata.container.userns_keep_id %}
  {%- if mapdata.lookup.compose.create_pod %}
    {%- do salt["log.warning"]("Cannot use pods when userns=keep-id is in use. Disabling pod creation.") %}
  {%- endif %}
  {%- do mapdata.lookup.compose.update({"create_pod": false}) %}
{%- endif %}
