---
version: "2.1"
services:
  sonarr:
    image: {{ sonarr.lookup.containers.sonarr.image }}
    container_name: sonarr
    env_file:
      - {{ sonarr.lookup.paths.config_sonarr }}
{%- if sonarr.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ sonarr.lookup.paths.data }}:/config:z
{%- for path in sonarr.mount_paths %}
{%-   if path is mapping %}
      - {{ path | first }}:{{ path.values() | first }}
{%-   else %}
      - {{ path }}:{{ path }}
{%-   endif %}
{%- endfor %}
{%- for path in sonarr.lookup.paths.misc %}
{%-   if path is mapping %}
      - {{ path | first }}:{{ path.values() | first }}
{%-   else %}
      - {{ path }}:{{ path }}
{%-   endif %}
{%- endfor %}
    ports:
      - {{ sonarr.container.host_port }}:8989
    restart: unless-stopped
